---
---

@import "{{ site.theme }}";

section {
  width: 80%;
  min-width: 170px;

  h2 {
    border-bottom: #727272 1px solid;
  }
}

a:hover {
  color: #069;
  font-weight: normal;
}

#notice {
  text-align: right;
  border: 1px #a9d4ba solid;
  background-color: #b9e8cc;
  color: black;
  width: 100%;
  margin: 10px 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

header {
  width: 20%;
  min-width: 170px;
  position: relative;

  ul {
    width: 100%
  }

  nav {

    h1 {
      font-size: 1.1em;
      margin: 0.3em 0;
    }

    a {
      color: #39c;
    }

    a:hover {
      color: #069;
      font-weight: normal;
    }

    li {
      width: auto;
    }

    ul {
      margin: 1em 0;
      padding: 0;
      border: none;
      background: transparent;
      height: auto;
      position: inherit;

      li {
        text-align: left;
        border: none;
        list-style-position: outside;
        float: none;
        height: auto;
        width: auto;

        + li + li {
          width: auto;
        }
    
        a {
          display: inline;
          font-size: inherit;
        }
      }
    }
  }
}

@media only screen and (max-width : 965px) {
    section {
      width: 100%;
      min-width: 170px;
    }

    header {
      width: 100%;
      min-width: 170px;
    }

    header nav ul li {
      padding-right: 6px;
    }

    header nav ul {
      width: 100%;
      list-style-type: none;
    }

    header nav ul::after {
      content:"";
      display:block;
      clear:both;
    }
}

footer {
  width: auto;
  bottom: 0;
  position: static;
}

.wrapper {
  width: auto;
}

.wrapper::after {
  content:"";
  display:block;
  clear:both;
}
