---
---

@import "{{ site.theme }}";

section {
  width: 80%;
  min-width: 170px;
}

header {
  width: 20%;
  min-width: 170px;
  position: relative;

  nav {

    h1 {
      font-size: 1.1em;
      margin: 0.3em 0;
    }

    a {
      color: #39c;
    }

    a:hover {
      color: #069;
    }

    
    ul {
      margin: 1em 0;
      padding: 0;
      list-style-type: disc;
      border: none;
      background: transparent;
      height: auto;
      position: inherit;

      li {
        text-align: left;
        border: none;
        list-style-position: outside;
        float: none;
        height: auto;
        width: 100%;
    
        a {
          display: inline;
          font-size: inherit;
        }
      }
    
    }

  }
}

footer {
  width: auto;
  bottom: 0;
}

.wrapper {
  width: auto;
}

.wrapper::after {
    content:"";
    display:block;
    clear:both;
}
